# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\six\idea-projects\mingrui-shop-parent3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
